* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  text-align: center;
}

h1 {
  font-size: 2.2em;
  color: #59432F;
  margin-bottom: 20px;
}

p {
  font-size: 1.1em;
  color: #444444;
}

a.voltar {
  margin-top: 30px;
  display: inline-block;
  padding: 12px 20px;
  background-color: #722F37;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

a.voltar:hover {
  background-color: #835056
;
}

footer {
  margin-top: 60px;
  font-size: 0.9em;
  color: #444444;
}

span {
    font-weight: 600;
}

.halto {
  font-family: 'Cinzel';
  font-weight: 600;
}
